.pageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.header {
  height: 40px;
  width: 100%;
  max-width: 750px;
  margin-top: 10px;
  margin-right: 5px;
  align-items: center;
  text-align: center;
}

.headerTitle {
  text-align: center;
  margin: 0px auto;
  width: 80%;
  padding-top: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 750px;
  gap: 50px;
}

.joinRoomForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  .roomInput {
    text-align: center;
  }
}

input,
select,
textarea {
  border-radius: 5px;
  border: #888 1px solid;
  background-color: var(--background-colour);
  color: var(--form-text-colour);
  height: 20px;
}

select {
  height: 23.5px;
}

option {
  background-color: var(--background-color);
  color: var(--form-text-colour);
}

::placeholder {
  color: var(--form-text-colour);
}

input[type="submit"] {
  background-color: var(--button-colour);
  color: var(--button-text-colour);
  border-color: var(--button-border-colour);
  height: 30px;
  cursor: pointer;
}

.errorText {
  font-size: 18px;
}
