.pageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: var(--background-color);
  color: var(--text-colour);
  gap: 20px;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  box-sizing: border-box;
}
